body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.jumbotron {
    background-image: url('/img/header-smaller.jpg');
    height: 418px;
}

.center-pills {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    text-align: center;
}

.container {
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}

p.lead {
    text-align: center;
    margin-right: 10%;
}
