{% include "core/header.twig" %}

<body id="page-top">

<div class="container">

    {% include "core/main-nav.twig" %}

    <header>
        <div class="header-content">
            <div class="header-content-inner"></div>
        </div>
    </header>

    <div class="row">
        <div class="col-md-8">
            <p class="lead">Free the Geek.fm - The podcast about building a rewarding career as a professional software developer.</p>
        </div>
        <div class="col-md-4" style="text-align: right;">
            {% include "core/social-media-links.twig" %}
        </div>
    </div>

    <div class="col-md-12 content">
        <h2 class="section-heading text-center">Oh No, a 500!</h2>
        <p class="lead" style="margin-right: 0px;">Seems the sight went all belly up.</p>
        <hr class="primary">
        <p>Sorry about that. We'll have that fixed for you as soon as we can. How about checking out <a href="/" title="view the latest episodes">the latest episodes</a> instead?</p>
    </div>

</div>
<!-- /container -->


{% include "core/footer.twig" %}

