{% include "core/header.twig" %}

<body id="page-top">

<div class="container">

    {% include "core/top-banner.twig" %}

    <div class="col-md-12 content">
        <h2 class="section-heading text-center">What's Free the Geek all About?</h2>
        <hr class="primary">
        <h3>In a Nutshell</h3>
        <p><img src="/img/photo.png" alt="Matthew Setter, founder of Free the Geek" align="right" style="padding-right: 10px;" />Free the Geek is a podcast about the business of freelancing as a software developer, writer, content producer, and all round PHP lover. It's a fireside chat on the ins and outs of being a freelance writer, screencaster, teacher, and software developer.</p>
        <p>We discuss what it’s like to do it, warts and all, as well as how to get started, what to expect, the good, the bad, and the ugly. When we’re not talking that, we’re talking tech, code, apps, development, and of course PHP.
        </p>
        <hr class="primary" />
        <h3>Why Did I Launch It?</h3>
        <p>
          Hi, <a href="http://www.matthewsetter.com" title="learn more about Matthew Setter, founder of Free the Geek">I'm Matthew Setter</a>. I started Free the Geek with one sole purpose: <strong>to help freelancers be successful at what they do</strong>.
        </p>

        <p><a href="http://www.matthewsetter.com/about">As a freelancer myself</a>, I know what it's like to have to handle all the ins and outs of being a freelancer, as well as doing the actual work you're paid to do. You know what I mean the <em>accounting</em>, <em>marketing</em>, <em>networking</em>, <em>self-promotion</em>, <em>administration</em> and so on.
        </p>
        <p>
          Sometimes it can seem never endless; it can seem like you don't really have time to do paid work, because you're doing everything else. Sometimes it can seem the opposite, that you're so busy doing paid work, that you don't have time to handle all the other parts. You're left wondering such questions as:</p>
        <ul>
          <li>How do you get time to stay on top of things?</li>
          <li>How do you keep informed, up to date with all the latest changes</li>
        </ul>
        <h2>Here's What You Get</h2>
        <p>
          So my intent is simple. Every fortnight, I bring you a 30 minute interview with someone who's been in your shoes, or someone who's excelling at something which I truly believe you, as a fellow freelancer, can truly benefit from. Whether that's a technical skill, a human (soft) skill, a product, a service - whatever.
        </p>
        <p><strong>If I believe they can help you, I want you to know about it.</strong></p>
        <h2>My Promise To You</h2>
        <p>Give me 45 mins to an hour a week, once a fortnight, and I'll give you the best I can, to help you do what you do even better - <strong>so you can be successful</strong>. </p>
        <hr class="primary" />
    </div>

</div>
<!-- /container -->

{% include "core/footer.twig" %}

