{% include "core/header.twig" %}

<body id="page-top">

<div class="container">

    {% include "core/main-nav.twig" %}

    <header>
        <div class="header-content">
            <div class="header-content-inner"></div>
        </div>
    </header>

    <div class="row">
        <div class="col-md-8">
            <p class="lead">The podcast about the business of freelancing as a software developer,
                writer, content producer, and all round PHP lover.</p>
        </div>
        <div class="col-md-4" style="text-align: right;">
            {% include "core/social-media-links.twig" %}
        </div>
    </div>

    <div class="col-md-12 content">
        <h2 class="section-heading text-center">What's Free the Geek.fm About?</h2>
        <hr class="primary">
        <p>Free the Geek is a podcast about the business of freelancing as a software developer, writer, content producer, and all round PHP lover. It's a fireside chat on the ins and outs of being a freelance writer, screencaster, teacher, and software developer. Looking at what it’s like to do it, warts and all, as well as how to get started, what to expect, the good, the bad, and the ugly. When we’re not talking that, we’re talking tech, code, apps, development, and of course PHP.
        </p>
    </div>

</div>
<!-- /container -->


{% include "core/footer.twig" %}

