{% include "core/header.twig" %}

<body id="page-top">

<div class="container">

    {% include "core/main-nav.twig" %}

    <header>
        <div class="header-content">
            <div class="header-content-inner"></div>
        </div>
    </header>

    <div class="row">
        <div class="col-md-8">
            <p class="lead">The podcast about the business of freelancing as a software developer,
                writer, content producer, and all round PHP lover.</p>
        </div>
        <div class="col-md-4" style="text-align: right;">
            {% include "core/social-media-links.twig" %}
        </div>
    </div>

    <div class="col-md-12 content">
        <h2 class="section-heading text-center">Got Questions</h2>
        <hr class="primary">
        <p>If you want to get in touch with me, whether it's feedback about the show, the site, or something completely different, I'm available via the following options:</p>
        <ul>
            <li>settermjd (skype)</li>
            <li><a href="http://twitter.com/@freeingthegeek">@freeingthegeek</a></li>
            <li><a href="mailto:your-email@your-domain.com">matthew@freethegeek.fm</a></li>
        </ul>
    </div>

</div>
<!-- /container -->


{% include "core/footer.twig" %}

