{% include "core/header.twig" %}

<body id="page-top">

<div class="container">

    {% include "core/main-nav.twig" %}

    <header>
        <div class="header-content">
            <div class="header-content-inner"></div>
        </div>
    </header>

    <div class="row">
        <div class="col-md-8">
            <p class="lead">The podcast about the business of freelancing as a software developer,
                writer, content producer, and all round PHP lover.</p>
        </div>
        <div class="col-md-4" style="text-align: right;">
            <a href="https://twitter.com/@freeingthegeek" target="_blank"><img
                        src="/img/social-media/twitter.png" style="padding: 5px;"></a>
            <a href="https://plus.google.com/b/115002379460010233732/115002379460010233732/posts"
               target="_blank" data-toggle="tooltip" data-original-title="Another one here too"
               title="Join in the conversation on Google+"><img
                        src="/img/social-media/google-plus.png" style="padding: 5px;"></a>
            <a href="https://www.facebook.com/pages/Free-The-Geek/899450083436065"
               target="_blank"><img src="/img/social-media/facebook.png" style="padding: 5px;"></a>
            <a href="http://freethegeek.fm/rss.xml" target="_blank"><img
                        src="/img/social-media/itunes.jpg" style="padding: 5px;"></a>
            <a href="https://itunes.apple.com/de/podcast/free-geek.fm-matthew-setter/id1018923368?l=en&mt=2"
               target="_blank"><img src="/img/social-media/rss.png" style="padding: 5px;"></a>
        </div>
    </div>

    <div class="col-md-12 content">
        <h2 class="section-heading text-center">Got Questions</h2>
        <hr class="primary">
        <p>If you want to get in touch with me, whether it's feedback about the show, the site, or something completely different, I'm available via the following options:</p>
        <ul>
            <li>settermjd (skype)</li>
            <li><a href="http://twitter.com/@freeingthegeek">@freeingthegeek</a></li>
            <li><a href="mailto:your-email@your-domain.com">matthew@freethegeek.fm</a></li>
        </ul>
    </div>

</div>
<!-- /container -->


{% include "core/footer.twig" %}

