{% include "core/header.twig" %}

<body id="page-top">

{% include "core/main-nav.twig" %}

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ episode.getTitle() }}</h2>
                <hr class="light">
                <p>{{ episode.getPublishDate() }}</p>
                <div class="content">
                    {{ episode.getContent()|raw }}
                </div>

                <audio src="http://traffic.libsyn.com/thegeekyfreelancer/FreeTheGeek-Episode0001.mp3"></audio>
                <div class="podcast-options">
                    <strong>Podcast:</strong>
                    <a href="http://traffic.libsyn.com/thegeekyfreelancer/FreeTheGeek-Episode0001.mp3" target="_blank">Play in new window</a> |
                    <a href="http://traffic.libsyn.com/thegeekyfreelancer/FreeTheGeek-Episode0001.mp3" download="FreeTheGeek-Episode0001.mp3">Download</a>
                </div>
                <div class="subscribe">
                    <strong>Subscribe:</strong> <a href="https://itunes.apple.com/de/podcast/free-geek.fm-matthew-setter/id1018923368?l=en&mt=2">iTunes</a> | <a href="/rss.xml">RSS</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "core/contact.twig" %}

{% include "core/footer.twig" %}
