{% include "core/header.twig" %}

<body id="page-top">

{% include "core/main-nav.twig" %}

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center episodes">
                <h2 class="section-heading">Episodes</h2>
                <hr class="light">
                {% for episode in episodes %}
                <h3>
                    <a href="/episode/{{ episode.getSlug() }}">{{ episode.getPublishDate() }} / {{ episode.getTitle() }}</a><br />
                </h3>
                {% endfor %}
                {% include "core/subscribe-buttons.twig" %}
            </div>
        </div>
    </div>
</section>

{% include "core/contact.twig" %}

{% include "core/footer.twig" %}
