{% include "core/header.twig" %}

<body id="page-top">

<div class="container">

    {% include "core/main-nav.twig" %}

    <header>
        <div class="header-content">
            <div class="header-content-inner"></div>
        </div>
    </header>

    <div class="row">
        <div class="col-md-8">
            <p class="lead"> {{ show.getSubtitle() }}</p>
        </div>
        <div class="col-md-4" style="text-align: right;">
            {% include "core/social-media-links.twig" %}
        </div>
    </div>

    <div class="col-md-12 content">
        <h2>As a Guest, What Should You Expect?</h2>

        <p>I want to make being on the podcast as enjoyable as possible. So, here’s what you can expect, and the one or two things that I need. Some podcasts say they "<em>interview</em>" their guests. I prefer the term "fireside chat" instead, which I borrowed from <a href="http://smallbusinessbigmarketing.com">Timbo Reid at Small Business, Big Marketing</a> (thanks, Tim). </p>

        <p>Why? Because it connotes something much better, that being:&nbsp;a warm, relaxed, honest and friendly conversation. I’m not trying to put you on the spot, interrogate you, or do any form of a hack-job. My aim is to have a light-hearted and relaxed chat, as though we’re old friends reminiscing. So don’t feel that you have to perform or endlessly prepare.</p>

        <h3>How The Chat Works</h3>

        <p>The chat lasts for about thirty minutes to an hour, normally over Skype. If we’ve not met before, typically it goes a bit longer so that we can have a bit of a chat and get acquainted, before getting started. There’s no goofy intros or outros. I’ll ask a few questions both to start and then to guide the conversation. Then, as much or as little as you feel comfortable with, say what you want to say. </p>

        <p>Toward the end of the conversation, I give you the floor to plug anything you’re working on. This could be a book, a course, an event which you’re organising or speaking at — whatever. Please keep that in mind, and I’ll hand fully over to you in the last 10 minutes.</p>

        <p><strong>That’s it</strong>!</p>

        <h3>Before The Chat</h3>

        <p>On the day of the chat, I’ll send you a reminder email, a few hours in advance, just to be sure that you’re still ready, and that nothing unexpected’s come up. </p>

        <p>It’ll contain:</p>

        <ul>
            <li>My Skype address</li>
            <li>The essentials of how the whole process works</li>
            <li>What to expect</li>
        </ul>

        <p>That way you should have all you need.</p>

        <h3>What Do You Need To Do?</h3>

        <p>All you need is a bit of time and one, <em>maybe two</em>, things. </p>

        <p>These are:</p>

        <ul>
            <li>A half-decent microphone</li>
            <li>A set of headphones</li>
        </ul>

        <p>The reason why I ask for a half-decent microphone is that inbuilt and headset microphones don’t record your voice to a high enough level of quality.</p>

        <p>So, by using them, you’re not going to sound good (nor professional). If you don’t have one, don’t stress. You can get half-decent microphones for not that much.</p>

        <p>Here’s a selection to choose from: </p>

        <ul>
            <li><a href="https://www.amazon.com/Blue-Yeti-USB-Microphone-Silver/dp/B002VA464S">The Blue Yeti USB microphone</a></li>
            <li><a href="https://www.amazon.com/dp/B001AS6OYC/">The Audio-Technica AT2020USB</a></li>
            <li><a href="https://www.amazon.com/Blue-Snowball-Microphone-Textured-White/dp/B000EOPQ7E/ref=sr_1_2?s=musical-instruments&amp;ie=UTF8&amp;qid=1487567115&amp;sr=1-2&amp;keywords=Blue+Snowball">The Blue Snowball</a></li>
        </ul>

        <p>The reason for having a set of headphones, perhaps earbuds, is that you’ll know what you’re going to sound like when the podcast goes live.</p>

        <h3>One Last Thing</h3>

        <p>If you can, it’d be great if you could use an audio recorder, such as <a href="http://www.audacityteam.org">Audacity</a>, to record your end of the conversation. I do the same at my end. That way, if there are any network lags or dropouts, we can both be sure that we don’t need to re-record anything. </p>

        <p>Once we’re done, I’ll put the episode together, schedule it, and let you know when it’s going live. The only thing I ask —&nbsp;don’t feel under any obligation — is to let people know when the episode’s going live. That way, we can have as many people as possible hear the episode. </p>

        <h2>Thank YOU</h2>

        <p>Yep, thank you for agreeing to be on the podcast. I can’t tell you how much I look forward to speaking with you and hearing your story. So thank you for the gift of your time.</p>

    </div>

</div>
<!-- /container -->

{% include "core/footer.twig" %}

