{% include "core/header.twig" %}

<body id="page-top">

<div class="container">

{% include "core/main-nav.twig" %}

<header>
    <div class="header-content">
        <div class="header-content-inner"></div>
    </div>
</header>

<div class="row">
    <div class="col-md-8">
        <p class="lead">The podcast about the business of freelancing as a software developer, writer, content producer, and all round PHP lover.</p>
    </div>
    <div class="col-md-4" style="text-align: right;">
        <a href="https://twitter.com/@freeingthegeek" target="_blank"><img src="/img/social-media/twitter.png" style="padding: 5px;"></a>
        <a href="https://plus.google.com/b/115002379460010233732/115002379460010233732/posts" target="_blank" data-toggle="tooltip" data-original-title="Another one here too" title="Join in the conversation on Google+"><img src="/img/social-media/google-plus.png" style="padding: 5px;"></a>
        <a href="https://www.facebook.com/pages/Free-The-Geek/899450083436065" target="_blank"><img src="/img/social-media/facebook.png" style="padding: 5px;"></a>
        <a href="http://freethegeek.fm/rss.xml" target="_blank"><img src="/img/social-media/itunes.jpg" style="padding: 5px;"></a>
        <a href="https://itunes.apple.com/de/podcast/free-geek.fm-matthew-setter/id1018923368?l=en&mt=2" target="_blank"><img src="/img/social-media/rss.png" style="padding: 5px;"></a>
    </div>
</div>

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron"></div>

    <div class="well">
        <form class="form-inline">
            <div class="form-group form-group-lg col-sm-10">
                <input type="text" class="form-control input-lg" id="exampleInputAmount" placeholder="Enter your email address, to get the latest updates and community news."
                        style="width:100%;">
            </div>
            <button type="submit" class="btn btn-success input-lg">Sign Up!</button>
        </form>
    </div>

{% for episode in episodes %}
    <div class="well">
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">{{ episode.getTitle() }}</h4>
                <h5>Published: {{ episode.getPublishDate() }}</h5>
                <p>{% markdown %}{{ episode.getSynopsis() }}{% endmarkdown %}</p>
                <h4>Guest(s)</h4>
                <a href="https://twitter.com/coderabbi" target="_blank">
                    <img src="https://secure.gravatar.com/avatar/737023cf85d780c0b07bc0b5d97d6d6a?s=200&amp;d=https%3A%2F%2Fwww.phproundtable.com%2Fimages%2Flogo-round-no-text.png" class="img-circle" style="width: 64px; height: 64px;" alt="" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Yitzchok Willroth">
                </a>
            </div>
        </div>
    </div>
{% endfor %}

<nav style="text-align: center;">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

</div>
</div>
<!-- /container -->


{% include "core/footer.twig" %}

