{% include "core/header.twig" %}

<body id="page-top">

{% include "core/main-nav.twig" %}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Free Your Inner Geek</h1>
            <hr>
            <p>The podcast about the business of freelancing as a software developer, writer, content producer, and all round PHP lover.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What's It About?</h2>
                <hr class="light">
                <p class="text-faded">It's a fireside chat on the ins and outs of being a freelance writer, screencaster, teacher, and software developer. Looking at what it’s like to do it, warts and all, as well as how to get started, what to expect, the good, the bad, and the ugly. When we’re not talking that, we’re talking tech, code, apps, development, and of course PHP.</p>
                <a href="#" id="subscribe-button" class="btn btn-default btn-xl">Subscribe!</a>
            </div>
        </div>
    </div>
</section>

{% include "core/contact.twig" %}

{% include "core/footer.twig" %}

