<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Got Questions</h2>
                <hr class="primary">
                <p>If you want to get in touch with me you'll, find all the contact details you need below</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>settermjd (skype) / <a href="http://twitter.com/@freeingthegeek">@freeingthegeek</a></p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">matthew@freethegeek.fm</a></p>
            </div>
            <div class="col-lg-4 text-center">
                <p style="font-size: 90%;">
                    built by <a href="http://www.matthewsetter.com" target="_blank">Matthew Setter</a>
                    with <a href="http://slimframework.com" target="_blank">the Slim Framework</a>.
                </p>
            </div>
        </div>
    </div>
</section>
