<footer class="footer">
    <div class="container">
        <p class="text-muted">
            impressum / be a guest / copyright &copy; matthew setter {{ "now"|date("Y") }}. all rights reserved.
        </p>
    </div>
</footer>

<!-- jQuery -->
<script src="/js/dist/jquery.js"></script>

<script src="/js/dist/mediaelement-and-player.min.js"></script>

<script>
    // using jQuery
    $('video,audio').mediaelementplayer({success: function(mediaElement, originalNode) {
        // do things
    }});
</script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/dist/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/dist/jquery.easing.min.js"></script>
<script src="/js/dist/jquery.fittext.js"></script>
<script src="/js/dist/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/dist/creative.js"></script>

<!-- Custom Functions JavaScript -->
<script src="/js/functions.js"></script>

</body>

</html>
