<footer class="footer">
        <p class="text-muted">
            copyright <a href="http://www.matthewsetter.com" target="_blank">Matthew Setter</a> {{ "now"|date("Y") }} / <a href="/about">About</a> / <a href="/contact">Contact</a> / <a href="/for-guests">For Guests</a>
        </p>
</footer>

<!-- jQuery -->
<script src="/js/dist/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/dist/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/dist/jquery.easing.min.js"></script>
<script src="/js/dist/jquery.fittext.js"></script>
<script src="/js/dist/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/dist/creative.js"></script>

<!-- Custom Functions JavaScript -->
<script src="/js/functions.js"></script>

<script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>

</body>

</html>
