<!-- jQuery -->
<script src="/js/jquery.js"></script>

<script src="/js/mediaelement-and-player.min.js"></script>

<script>
    // using jQuery
    $('video,audio').mediaelementplayer({success: function(mediaElement, originalNode) {
        // do things
    }});
</script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/creative.js"></script>

<!-- Custom Functions JavaScript -->
<script src="/js/functions.js"></script>

</body>

</html>
