<footer class="footer">
        <p class="text-muted">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.<br />
            Created by <a href="http://www.matthewsetter.com" target="_blank">Matthew Setter</a> {{ "now"|date("Y") }} using <a href="http://slimframework.com" target="_blank">the Slim Framework</a>.
        </p>
</footer>

<!-- jQuery -->
<script src="/js/dist/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/dist/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/dist/jquery.easing.min.js"></script>
<script src="/js/dist/jquery.fittext.js"></script>
<script src="/js/dist/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/dist/creative.js"></script>

<!-- Custom Functions JavaScript -->
<script src="/js/functions.js"></script>

</body>

</html>
