<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Free The Geek.fm - The podcast about the business of freelancing as a software developer, writer, content producer, and all round PHP lover.</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/supplemental.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="/js/dist/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/js/dist/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://use.typekit.net/c/448a05/1w;chaparral-pro,2,XXw:N:i4,XY8:N:n4,XY9:N:n6,XXk:N:n7;source-sans-pro,2,Xw3:N:n3,Xw5:N:n4,Xw6:N:n6,Xvy:N:n7/d?3bb2a6e53c9684ffdc9a9aff135b2a629c74e59eae32629bb0e34579a784f49423839490a72513bcbcf6fa9f79e8e03f02e9b2ac5e3913f1c5e08b3fdb0fbaf91dec25f51a7a427bd23b5cfd64c360d7e8ed8ef4c857b69656139f0a380c42d4dc3e78">
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/css/mediaelementplayer.css">
    <link rel="stylesheet" href="/css/social-buttons.css">
</head>
