<div class="subscribe">
    <h3>Subscribe</h3>
    <a href="/rss.xml"
       id="subscribe-button" class="btn btn-block btn-lg subscribe-button-rss btn-warning">Subscribe via
        RSS</a>
    <a href="https://itunes.apple.com/de/podcast/free-geek.fm-matthew-setter/id1018923368?l=en&mt=2"
       id="subscribe-button" class="btn btn-block btn-lg subscribe-button-itunes btn-info">Subscribe on
        iTunes!</a>
    <a href="http://subscribeonandroid.com/freethegeek.fm/rss.xml"
       id="subscribe-button" class="btn btn-block btn-lg subscribe-button-itunes btn-success">Subscribe on
        Android!</a>
    <a href="http://feeds.soundcloud.com/users/soundcloud:users:167269271/sounds.rss"
       id="subscribe-button" class="btn btn-block btn-lg subscribe-button-rss btn-warning">Subscribe on
        SoundCloud</a>

</div>