<div class="subscribe">
    <h3>Subscribe</h3>
    <a href="/rss.xml"
       id="subscribe-button" class="btn btn-lg subscribe-button-rss btn-success">Subscribe via
        RSS</a>
    <a href="https://itunes.apple.com/de/podcast/free-geek.fm-matthew-setter/id1018923368?l=en&mt=2"
       id="subscribe-button" class="btn btn-lg subscribe-button-itunes btn-warning">Subscribe on
        iTunes!</a>
</div>