<a href="/rss.xml"
   id="subscribe-button" class="btn btn-default btn-xl subscribe-button-rss">Subscribe via RSS</a>
<a href="https://itunes.apple.com/de/podcast/free-geek.fm-matthew-setter/id1018923368?l=en&mt=2"
   id="subscribe-button" class="btn btn-default btn-xl subscribe-button-itunes">Subscribe on iTunes!</a>