<header>
    <div class="header-content">
        <div class="header-content-inner"></div>
    </div>
</header>

<div class="row banner">
    <a href="/" title="Free the Geek - Home"><img src="/img/avatar1 small.png"/></a>
    <h1><a href="/" title="Free the Geek - Home">Free the Geek</a></h1>
</div>

<div class="row full-pretext">
    <div class="col-md-12">
        <p class="lead">{{ show.getSubtitle() }}<br/> Every episode, Matthew Setter is joined by a guest to discuss being a freelancer, writing technical documentation, creating great software, and podcasting.</p>
    </div>
</div>
<div class="row social-icons">
    <div class="col-md-12">
        {% include "core/social-media-links.twig" %}
    </div>
</div>

<div class="row mobile-pretext">
    <div class="col-md-12">
        <p class="lead">{{ show.getSubtitle() }}<br/> Every episode, Matthew Setter is joined by a guest to discuss being a freelancer, writing technical documentation, creating great software, and podcasting.</p>
    </div>
</div>

